{% extends 'layout.html' %}
{% block content %}
<h3>Aula 1 - Tecnologias e Ferramentas - Angular</h3>
<p class="lead">Nesta aula será apresentado as tecnologias e ferramentas que utilizaremos durante a Unidade 2.</p>

<h4>Objetivos de aprendizagem</h4>
<p>Os objetivos da aula são:</p>
<ul>
  <li>Conceituar "Single Page Application (SPA)" Aplicação de página única;</li>
  <li>Entender a estrutura de pastas de uma aplicação angular 8;</li>
  <li>Criar o esqueleto de uma aplicação angular 8;</li>
</ul>
<h4>O que fazer?</h4>
<p>
  Para atingir os objetivos citados acima, você deve acessar todos os conteúdos listados abaixo, na ordem em que foram
  dispostos. <br />
  Ao final da aula, você deverá ter conseguido executar as seguintes tarefas em seu computador:
</p>
<ul>
  <li>Instalar o Node.js e o NPM</li>
  <li>Instalar o Angular CLI</li>
  <li>Criar uma aplicação Angular 8 usando o Angular CLI</li>
  <li>Compreender a estrutura de pastas de uma aplicação Angular CLI</li>
  <li>Executar a aplicação e acessar o navegador</li>
</ul>

<div class="topic">
  <h4>1. SPA - Single Page Application</h4>
  <p>Leia o link abaixo e em seguida veja o vídeo para compreender o que é uma Single Page Application (SPA) ou Aplicação de Página Única. Caso tenha alguma dúvida, deixe nos comentários abaixo.</p>
  <div class="alert alert-info" role="alert">
    <a href="https://blog.locaweb.com.br/artigos/desenvolvimento-artigos/o-que-e-single-page-application/" target="_blank">O que é SPA? Clique aqui e descubra!</a>
  </div>
  <p>Veja em detalhes o que é uma SPA, agora em vídeo. Se tiver alguma dúvida, deixe no espaço de comentários abaixo.</p>
  <iframe src="https://www.youtube.com/embed/Y_PedfN_Pcs"></iframe>
</div>

<div class="topic">
  <h4>2. Introdução ao framework Angular</h4>
  <p>Agora, no vídeo abaixo será feito uma introdução ao framework Angular 8. Acompanhe o vídeo e ao final dele, espero que você tenha conseguido instalar e configurar o seu ambiente Node.js e NPM para que possamos passar para as próximas fases. </p>
  <iframe src="https://www.youtube.com/embed/2P5sjPpOSOE"></iframe>
</div>

<div class="topic">
  <h4>3. Entendendo a estrutura de uma aplicação Angular 8</h4>
  <p>Pronto! Agora você já conhece sabe o que é o Angular e já tem o seu ambiente configurado, vamos agora entender a estrutura de pastas de uma aplicação de exemplo. </p>
  <iframe src="https://www.youtube.com/embed/vfJgw1Al6UE"></iframe>
</div>

<div class="topic">
  <h4>4. Executando uma aplicação Angular 8</h4>
  <p>
    Como mostrado no vídeo anterior, após a criação de ama aplicação Angular, é possível executa-lá diretamente em seu navegador usando o comando 
    <code>ng serve</code>
  </p>
  <p>Ao executar o comando em seu <strong>terminal</strong> ou <strong>prompt de comando</strong>, você deverá ver uma tela como a seguinte:</p>
  <figure class="figure">
    <img src="https://i.imgur.com/WmXWrtS.png"/>
    <figcaption class="figure-caption">Resultado da execução do comando <code>ng serve</code></figcaption>
  </figure>
  <p>
    Após executar o comando acima, abra em seu navegador o endereço <a href="http://localhost:4200">http://localhost:4200</a>. 
    Se não conseguiu ver sua página, veja novamente os vídeos acima e mesmo assim se o problema continuar, mande sua dúvida pra mim!
  </p>
  <figure class="figure">
    <img src="https://i.imgur.com/SJw6q7j.png"/>
    <figcaption class="figure-caption">Site recentemente criado e visto no navegador</figcaption>
  </figure>
  <div class="alert alert-info" role="alert">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeXhtKw-7A-gP7iHBOq0nxejcnfIKR6kbqPKrORygA9dTEV6A/viewform" target="_blank">
      Para finalizar a aula, responda aqui algumas questões sobre a aula que você viu :-)
    </a>
  </div>
</div>

</div>
{% endblock %}